# Public frontend config for Vercel
# Set these in Vercel Project Settings -> Environment Variables

NEXT_PUBLIC_RUST_VERIFIER=0xac32d86d7061C8dC4962e0e401459C079E3Ca7E3
NEXT_PUBLIC_VOTING_CONTRACT=0x47b6a6bb66eF206ca0D90Ead98b3d8Db6f406CFe
